body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    justify-content: center;
    text-align: center;
}

.test-container {
    background-color: rgb(188, 188, 188);
    border-radius: 10px;
    width: 600px;
    overflow: hidden;
}

.test-header {
    padding: 50px;
}

h2 {
    padding: 10px;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    list-style-type: none;
    text-align: left;
    background-color: transparent;
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid lightgray;
    font-weight: normal;
}

ul li label {
    cursor: pointer;
}
  
  li:hover {
    background: #dc914a;
  }

#timer {
    font-size: 25px;
    color: #4a4a4a;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background-color: #7a7a7a;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

button:hover {
    background-color: #bcbcbc;
}

button:focus {
    outline: none;
    background-color: #ff6600;
}

#endquiz {
    text-align: center;
}

input {
    margin-bottom: 10px;
}

.scList {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(179, 81, 16);
}

.scList li {
    padding: 5px;
}

.hide {
    display: none;
  }